$primary: #e26f6f;
$primaryDark: darken(#e26f6f, 40%);
$secondary: #ddd;
$transitionDuration: .3s;

body {
  color: #222;
  font-family: sans-serif;
  min-width: 320px;
  padding: 0;
  overflow: hidden;
}

h1, h2, p {
  margin-top: 0;
}

p {
  line-height: 1.45;
}

a {
  color: $primaryDark;
  font-size: 1.1em;
}

button {
  background: #fff;
  border: 1px solid #222;
  border-radius: 3px;
  cursor: pointer;
  padding: 8px 12px;
  transition: .3s background-color;

  &:hover {
    background: #eee;
  }

  &.primary-cta {
    background: $primary;
    border-color: $primaryDark;
    color: #fff;

    &:hover {
      background: darken($primary, 3%);
    }
  }

  &.small {
    font-size: .8em;
    padding: 5px 7px;
  }
}

@media (min-width: 400px) {
  .only-small {
    display: none;
  }
}
