$primary: #e26f6f;
$primaryDark: darken(#e26f6f, 40%);
$secondary: #ddd;
$textColor: #222;

$positive: #9ccc65;
$negative: #f44336;
$pending: #fff176;

$transitionDuration: .3s;
$wanikaniBarSize: 35px;

$wanikaniApprentice: #dd0093;
$wanikaniGuru: #882d9e;
$wanikaniMaster: #294ddb;
$wanikaniEnlightened: #0093dd;
$wanikaniBurned: #434343;

@keyframes opacityPulse {
  0% { opacity: 1 }
  100% { opacity: .6 }
}

body {
  background: #f3f3f3;
  color: $textColor;
  font-family: sans-serif;
  min-width: 320px;
  padding: 0;
  overflow: hidden;
}

h1, h2, p {
  margin-top: 0;
}

p {
  color: $textColor;
  line-height: 1.45;
}

a {
  color: $primaryDark;
}

hr {
  margin: 0;
  padding: 0;
}

button {
  background: #fff;
  border: 1px solid #222;
  border-radius: 3px;
  cursor: pointer;
  padding: 8px 12px;
  transition: .3s background-color;

  &:hover {
    background: #eee;
  }

  &.primary {
    background: $primary;
    border-color: $primaryDark;
    color: #fff;

    &:hover {
      background: darken($primary, 3%);
    }
  }

  &.small {
    font-size: .8em;
    padding: 5px 7px;
  }

  &.text {
    background: transparent;
    border: 0;
  }
}

@media (min-width: 400px) {
  .only-small {
    display: none;
  }
}
